body {
	margin: 0 15% 30px;
	background-color: #f0faf8;
	font-family: cursive, "M PLUS Rounded 1c";
	color: #65564d;
	font-size: 18px;
}

.top {
	position: relative;
}

/*タイトル ホバー時の下線*/
.top:after {
	position: absolute;
	bottom: -3px;
	left: 50%;
	content:'';
	width: 0;
	height: 8px;
	background-color: #ff8d8d;
	transform: translateX(-50%);
	transition: all .3s;
}

.top:hover:after {
	width: 13em;
}

h1, h2, h3 {
	margin: 32px 0 2px;
}

h4, h5, h6 {
	margin: 8px;
}


a {
	display: block;
	text-decoration: none;
	color: #65564d;
	text-align: center;
}

p {
	margin: 8px 0;
}

/*遊び方*/
.howto {
	border: dashed 3px #65564d;
	margin: 16px auto;
}

.howto li {
	margin: 16px auto;
}