body {
	margin: 5%;
}

h1 {
	text-align: center;
}

/*文字式*/
.literal {
	font-style: italic;
	font-family: "Times New Roman";
	font-weight: bold;
}

/*時間*/
.timer {
	left: 8%;
	top: 0;
	position: absolute;
	text-align: center;
	width: 7em;
	padding: 0.5em 1em;
	margin: 2em 0;
	color: #5d627b;
	background: white;
	border-top: solid 5px #5d627b;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

/*問題文*/
.question {
	text-align: center;
	font-size: 32px;
	height: 240px;
	padding-top: 2em;
}

/*正解*/
.correct {
	position: absolute;
	top: 0px;
	left: 0px;
	display: flex;
	justify-content: center; 
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: #f6f6f6;
	visibility: hidden;
	opacity: 0;
	transition: all .2s;
	z-index: 1;
}

/*マル*/
.circle{
	width: 320px;
	height: 320px;
	margin: auto;
	border-radius: 50%;
	border: solid 30px #46dec0;
}

/*不正解*/
.incorrect {
	position: absolute;
	top: 0px;
	left: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: #f6f6f6;
	visibility: hidden;
	opacity: 0;
	transition: all .2s;
	z-index: 1;
}

/*バツ*/
.cross {
	position: relative;
	width: 30px;
	height: 30px;
}
 
.cross::before, .cross::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 320px;
	background: #de4664;
}
 
.cross::before {
	transform: translate(-50%,-50%) rotate(45deg);
}
 
.cross::after {
	transform: translate(-50%,-50%) rotate(-45deg);
}

/*マルバツの表示*/
.show {
	visibility: visible;
	opacity: 0.8;
}

/*非表示*/
.hide {
	display: none;
}

/*答えを入力*/
.text {
	position: relative;
	width: 80%;
	margin:40px auto;
}

.text input {
	padding-left: 5em;
	font-size: 24px;
	font-family: "Times New Roman", "M PLUS Rounded 1c";
	font-style: italic;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
}

.text input:focus {
	outline: none;
}

.response {
	padding: 4px 0;
	border: 0;
	border-bottom: 3px solid #65564d;
	background-color: transparent;
}

/*フォーカス時の下線*/
.response ~ .focus-line {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 4px;
	transition: 0.4s;
	background-color: #ff8d8d;
}

.response:focus ~ .focus-line,
.text.response ~ .focus-line {
	left: 0;
	width: 100%;
	transition: .4s;
}

.response ~ label {
	position: absolute;
	z-index: -1;
	top: 4px;
	left: 0;
	width: 100%;
	transition: 0.3s;
	letter-spacing: .5px;
	color: #aaa;
}

.response:focus ~ label, .text.response ~ label {
	font-size: 20px;
	top: -24px;
	transition: 0.3s;
	color: #da3c41;
}

/*ボタン（次へ、TOPへ）*/
.button a {
	background: #65564d;
	border-radius: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
	max-width: 260px;
	padding: 10px 25px;
	color: #f0faf8;
}

.button {
	margin: 16px;
}

/*メモ欄*/

textarea {
	display: block;
	margin: auto;
	resize: none;
	width: 90%;
	height: 5em;
	font-size: 16px;
	font-family: "Times New Roman", sans-serif;
	font-style: italic;
}

/*結果*/
.result {
	display: none;
}

/*結果表示*/
.open {
	display: block;
}


/*結果表*/
.qa_list {
	width: 100%;
	text-align: center;
	border-spacing: 3px;
}

.qa_list th {
	height: 1.5em;
	text-align: center;
	background-color: #5c726e;
	color: white;
}

/*奇数行*/
.qa_list tr:nth-child(odd) {
	background-color: white;
}

/*偶数行*/
.qa_list tr:nth-child(even) {
	background-color: #f6f6f6;
}

/*一列目*/
.qa_list tr td:nth-of-type(1) {
	background-color: #added4;
}

/*二列目*/
.qa_list tr td:nth-of-type(2) {
	text-align: left;
}


/*結果統計*/
.total {
	padding: 8px 20%;
	margin: 2em 10%;
	background: #e0d1c2;
	border-top: solid 4px #65564d;
	border-bottom: solid 4px #65564d;
}
